.explore-section {
  margin-top: 16px;
}

.explore-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Base styles for the explore grid and cards */


.explore-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.explore-card img {
  /* width: 100%;
  height: auto; */
  transition: transform 0.3s ease;
}

.explore-card:hover {
  transform: scale(1.05);
  /* Slightly enlarge the card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Add shadow for depth */
}

.explore-card:hover img {
  transform: scale(1.04);
  /* Slightly enlarge the image */
}

.explore-card-content {
  padding: 16px;
}